<div class="profile" id="profile-page">

    
    <%- include('layouts/menu.ejs') %>



    <div class="right">
        <div class="profile_all">

            <% if (user.photo) { %>
                
                <img src="/media/users/<%= user.photo %>" alt=""><br>
                <% }else{%> 
                    
                    <img  src="/img/pngwing.com.png" alt=""><br>
                
                <%} %> 
            <div class="sortdetail">
                <h1><%= user.name %></h1> <br>
                <h3>@<%= user.username %></h3>

            </div>
          
        </div>
        <hr>
        <div class="pro_details">
            <ul>
                <li><i class="ri-phone-line"></i> Phone: <%= user.phone %> </li>
                <li><i class="ri-mail-line"></i> Email: <%= user.email %> </li>
            </ul>
            <hr>
            <h1>Pictures</h1>
            <div class="pictures">

                
                    <% user.gallery.forEach(gall => { %>
                        
                        <div class="picture">
                            <img src="./media/gallery/<%= gall %>" alt="">
                        </div>
                    <% }) %>
                    
               
                
                
            </div>

        </div>
    </div>
</div>